<!-- Delete icon -->
<div class="position-absolute delete">
    <img src="assets/img/symbols/webview_nav_close_default.png" class="ms-1" width="14px"
        height="14px" (click)="deleteMessage()">
</div>

<!-- Message -->
<div class="mb-4 d-flex justify-content-end">

    <!-- MSG -->
    <div class="d-flex flex-column align-items-end">
        <div class="username text-grey mb-1">{{ msg.sentBy.name }}</div>
        <div class="chatbox-user py-2 px-3" *ngIf="!msg.isPhoto && !msg.isSticker">
            {{ msg.text }}
        </div>
        <div class="py-2 px-3" *ngIf="msg.isPhoto && !msg.isSticker">
            <img class="photo" src="{{ msg.text }}" alt="Photo">
        </div>
        <div class="py-2 px-3" *ngIf="msg.isSticker">
            <img class="sticker" src="{{ msg.text }}" alt="Photo">
        </div>
    </div>

    <!-- ICON -->
    <div class="icon rounded-circle ms-3" [ngClass]="msg.sentBy.icon != 'assets/img/anon-default.png' ? 'bg-icon' : ''">
        <img *ngIf="msg.sentBy.icon" src="{{ msg.sentBy.icon }}" class="rounded-circle icon-img">
        <img *ngIf="!msg.sentBy.icon" src="assets/img/anon-default.png" class="rounded-circle icon-img">
    </div>
</div>

