<div id="chat-interior" class="bg-chat">
    <div class="chat-content">

        <div class="chat-content text-center">


            <div class="p-4 pb-0">
                <div id="subtitle" class="fst-italic mb-2">Donate by clicking the "Support Me" button!</div>
                <iframe id="donationBar"
                    src="https://ko-fi.com/streamalerts/goaloverlay/sa_f3193e49-d067-47c0-82c9-c72be9c09028"
                    title="Donation Box"></iframe>
            </div>


            <hr class="mb-3">

            <div class="p-4 mb-2">
                <p>
                    Hi! Thanks for enjoying this little project.<br>
                    Sadly, due to the popularity of the site, I now need to spend <a href="assets/img/pain.png"
                        target="_blank">a lot of money</a> every month in hosting costs.
                </p>

                <p>
                    I can't stress enough how much I absolutely cannot afford to pay any cost above 50€ per month as a
                    part-time worker with education-related debt and who is also, among other things, saving up for top
                    surgery.
                </p>

                <p>
                    I calculated how much money I will need to pay by June 30 to keep the site up another month and,
                    based on how the cost goes up by about 15€ per day, it will be no less than 435€. Since I can't know
                    if the site will get even more popular as more people find it, I've decided to set the donation goal
                    to 500€ just to be safe.
                </p>

                <p>
                    I'm at my wits' end. I have less than 1k € in savings. I really don't want to have to take down the
                    site but if I don't find a way to recoup the costs... I'll be forced to do exactly that.
                </p>

                <img class="sticker mb-3" src="/assets/img/stickers/sticker_114.png">

                <p>
                    If you enjoy HSR Chat and want it to continue being available, please <a
                        href="https://ko-fi.com/ningyo" target="_blank">help me pay</a> for its hosting.
                </p>

                <p>
                    This site will only display this page until the goal is reached, then it will go back to showing the
                    chat simulator.
                </p>

                <p>Thank you!</p>

                <div>
                    <a href="https://x.com/hsrchatvercel" target="_blank">
                        <i class="bi bi-twitter"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
