<div id="chat" class="bg-chat">

    <div class="px-4 mb-2 pt-2">
        <div id="chat-title">{{ friend.name }}</div>
        <div id="subtitle" *ngIf="friend.sub">{{ friend.sub }}</div>
    </div>

    <hr class="mb-3">

    <div class="px-4">
        <app-message *ngFor="let message of messages" [msg]="message" [friend]="friend" [user]="user"></app-message>
    </div>

    <hr>

    <div id="textbox" class="px-4 py-3">
        <form [formGroup]="newMsg" (ngSubmit)="onSubmit()">
            <div class="input-group mb-3">

                <!-- CHAT SELECT CHARACTER -->
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <img *ngIf="!switchCheck && !actionCheck" src="{{ friend.icon }}" width="30px" height="30px">
                    <img *ngIf="switchCheck && !actionCheck" src="{{ user.icon }}" width="30px" height="30px">
                    <img *ngIf="actionCheck" src="assets/img/symbols/Icon_Dialogue_Warning.png" width="30px"
                        height="30px">
                    <img *ngIf="photoCheck && !actionCheck"
                        src="https://pixsector.com/cache/517d8be6/av5c8336583e291842624.png" class="ms-1" width="30px"
                        height="30px">
                </button>
                <ul class="dropdown-menu">
                    <li *ngFor="let chara of charas">
                        <a class="dropdown-item" (click)="selectChara(chara)">{{ chara.name }}</a>
                    </li>
                </ul>

                <!-- CHAT TEXTBOX -->
                <input type="text" class="form-control" placeholder="{{ placeholder }}" aria-label="Textbox"
                    aria-describedby="basic-addon1" formControlName="textbox">

                <!-- CHAT SUBMIT -->
                <button class="btn btn-outline-secondary" type="submit" id="send">Send</button>


            </div>
        </form>

        <div>
            <!-- CHARACTER SWITCH -->
            <div class="form-check form-switch d-flex justify-content-center">
                <input class="form-check-input me-2" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                    (click)="onSwitchChecked()">
                <label *ngIf="!switchCheck" class="form-check-label" for="flexSwitchCheckDefault">{{ friend.name
                    }}</label>
                <label *ngIf="switchCheck" class="form-check-label" for="flexSwitchCheckDefault">{{ user.name }}</label>
            </div>

            <!-- ACTION CHECKBOX -->
            <div class="form-check d-flex justify-content-center">
                <input class="form-check-input me-2" type="checkbox" value="" id="flexCheckDefault"
                    (click)="onActionChecked()">
                <label class="form-check-label" for="flexCheckDefault">
                    Action
                </label>
            </div>

            <!-- PHOTO CHECKBOX -->
            <div class="form-check d-flex justify-content-center mb-3">
                <input class="form-check-input me-2" type="checkbox" value="" id="flexCheckDefault"
                    (click)="onPhotoChecked()">
                <label class="form-check-label" for="flexCheckDefault">
                    Photo
                </label>
            </div>

            <!-- STICKERS -->
            <div class="form-check d-flex justify-content-center">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
                    data-bs-target="#stickersModal" (click)="getStickers()">
                    <img src="/assets/img/stickers/sticker_224.png" width="30px" height="30px">
                </button>
                <!-- Modal -->
                <div class="modal fade" id="stickersModal" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="stickersLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="stickersLabel">
                                    Post a sticker as
                                    <img *ngIf="!switchCheck && !actionCheck" src="{{ friend.icon }}" width="30px" height="30px">
                                    <img *ngIf="switchCheck && !actionCheck" src="{{ user.icon }}" width="30px" height="30px">
                                </h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!-- STICKERS LIST -->
                                <img *ngFor="let sticker of stickers" src="{{ sticker }}" width="75px" height="75px" (click)="selectSticker(sticker)">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
