<div id="chat-interior" class="bg-chat">

    <div id="chat-canvas" class="chat-content">

        <div class="px-4 mb-2 pt-2">
            <!-- CHAT NAME -->
            <div id="chat-title" *ngIf="!gc.name">{{ friend.name }}</div>
            <div id="chat-title" *ngIf="gc.name">{{ gc.name }}</div>
            <!-- CHAT SUBTITLE -->
            <div id="subtitle" *ngIf="friend.sub && !gc.name">{{ friend.sub }}</div>
            <div id="subtitle" *ngIf="gc.sub">{{ gc.sub }}</div>
        </div>

        <hr class="mb-3">

        <div>
            <!-- Standard message -->
            <app-message *ngFor="let message of messages; let i = index" [msg]="message" [msgId]="i"
                [settings]="settings" (sendIdBack)="deleteMessage($event)"
                (sendEditBack)="editMessage($event)"></app-message>

            <!-- Quest -->
            <div class="pb-3 d-flex justify-content-center">
            <div id="quest" class="m-auto position-relative" *ngIf="questCheck">
                <!-- If Adventure -->
                <div class="quest-icon position-absolute">
                    <img class="w-100" src="{{ quest.type }}" alt="Adventure Mission icon" *ngIf="quest.type">
                    <img class="w-100" src="assets/img/symbols/quest-icon-adventure.png" alt="Adventure Mission icon"
                        *ngIf="!quest.type">
                </div>
                <!-- Arrow Right -->
                <div class="arrow-right position-absolute">
                    <img class="w-100" src="assets/img/symbols/arrow-right.png" alt="Adventure Mission icon">
                </div>
                <!-- Quest text -->
                <div>
                    <div id="quest-state" *ngIf="quest.state">{{ quest.state }}</div>
                    <div id="quest-state" *ngIf="!quest.state">Quest state</div>
                    <div id="quest-name" *ngIf="quest.name">{{ quest.name }}</div>
                    <div id="quest-name" *ngIf="!quest.name">Quest Name</div>
                </div>
            </div>
            </div>

            <!-- Dialogue Options -->
            <div *ngIf="dialogueCheck">
                <hr>
                <div id="dialogue-box" class="text-center p-3">
                    <div class="option d-flex justify-content-center align-items-center mb-2">
                        {{ options.option1 }}
                    </div>
                    <div class="option d-flex justify-content-center align-items-center mb-2" *ngIf="options.option2">
                        {{ options.option2 }}
                    </div>
                    <div class="option d-flex justify-content-center align-items-center" *ngIf="options.option3">
                        {{ options.option3 }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div id="textbox" class="px-4 py-3">
        <div class="chat-content">
            <form [formGroup]="newMsg" (ngSubmit)="onSubmit()">
                <div class="input-group mb-3">

                    <!-- CHAT SELECT CHARACTER -->
                    <!-- Character icon -->
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <img *ngIf="!switchCheck && !actionCheck && !groupChat && !customCharaCheck"
                            src="{{ friend.icon }}" width="30px" height="30px">
                        <img *ngIf="switchCheck && !actionCheck && !groupChat !customCharaCheck" src="{{ user.icon }}"
                            width="30px" height="30px">
                        <img *ngIf="actionCheck && !groupChat" src="assets/img/symbols/Icon_Dialogue_Warning.png"
                            width="30px" height="30px">
                        <!-- photo icon -->
                        <img *ngIf="photoCheck && !actionCheck && !groupChat"
                            src="https://pixsector.com/cache/517d8be6/av5c8336583e291842624.png" class="ms-1"
                            width="30px" height="30px">
                        <!-- chat icon -->
                        <img *ngIf="groupChat" src="assets/img/symbols/Icon_Messages.png" width="30px" height="30px">
                        <!-- cc icon -->
                        <img *ngIf="customCharaCheck" src="assets/img/symbols/Icon_Assignment_Additional_Rewar.png"
                            width="30px" height="30px">
                    </button>
                    <!-- DROPDOWN MENU -->
                    <ul class="dropdown-menu">
                        <div id="characters-list-scroll">
                            <li>
                                <a class="dropdown-item" (click)="setGroupChat()">Group chat</a>
                            </li>
                            <li>
                                <a class="dropdown-item" (click)="setCustomChara()">Custom character</a>
                            </li>
                            <!-- divider -->
                            <li *ngIf="customCharas.length">
                                <hr class="dropdown-divider">
                            </li>

                            <!-- list of Custom Characters -->
                            <li *ngFor="let chara of customCharas; let i = index" class="cc position-relative">
                                <a class="dropdown-item" (click)="selectCustom(chara)">{{ chara.name }}</a>
                                <!-- Delete icon -->
                                <div class="position-absolute delete-cc">
                                    <img src="assets/img/symbols/webview_nav_close_default.png" class="ms-1"
                                        width="14px" height="14px" (click)="deleteCc(i)">
                                </div>
                            </li>
                            <!-- divider -->
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <!-- LIST OF CHARACTERS -->
                            <li *ngFor="let chara of charas">
                                <a class="dropdown-item" (click)="selectChara(chara)">{{ chara.name }}</a>
                            </li>
                        </div>
                    </ul>


                    <!-- SELECT VERSION -->
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false"
                        *ngIf="!switchCheck && findName(friend.name) && !actionCheck && !groupChat && !customCharaCheck">
                    </button>
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false"
                        *ngIf="switchCheck && findName(user.name) && !actionCheck && !groupChat && !customCharaCheck">
                    </button>
                    <!-- DROPDOWN MENU -->
                    <ul class="dropdown-menu">
                        <div id="version-list-scroll" *ngIf="!switchCheck && findElement(friend.name)">
                            <!-- list of versions -->
                            <li *ngFor="let version of findElement(friend.name).versions; let i = index">
                                <a class="d-flex dropdown-item"
                                    (click)="saveCharaVersion(findElement(friend.name).name, findElement(friend.name).icons[i])">
                                    <img src="{{ findElement(friend.name).icons[i] }}" class="me-2" width="30px"
                                        height="30px">
                                    {{ version }}
                                </a>
                            </li>
                        </div>
                        <div id="version-list-scroll" *ngIf="switchCheck && findElement(user.name)">
                            <!-- list of versions -->
                            <li *ngFor="let version of findElement(user.name).versions; let i = index">
                                <a class="d-flex dropdown-item"
                                    (click)="saveCharaVersion(findElement(user.name).name, findElement(user.name).icons[i])">
                                    <img src="{{ findElement(user.name).icons[i] }}" class="me-2" width="30px"
                                        height="30px">
                                    {{ version }}
                                </a>
                            </li>
                        </div>
                    </ul>

                    <!-- CHAT TEXTBOX -->
                    <input type="text" class="form-control" placeholder="{{ placeholder }}" aria-label="Textbox"
                        aria-describedby="basic-addon1" formControlName="textbox">
                    <!-- photo help icon -->
                    <i class="bi bi-question-circle" id="photo-help" *ngIf="photoCheck && !actionCheck && !groupChat"
                        data-bs-toggle="modal" data-bs-target="#helpModal"></i>
                    <!-- Modal -->
                    <div class="modal fade" id="helpModal" data-bs-keyboard="false" tabindex="-1"
                        aria-labelledby="helpLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content help-modal">
                                <div class="modal-header me-0">
                                    How to use images
                                </div>
                                <div class="modal-body">
                                    <p>There are two ways to make a character send an image: by using an <i>image
                                            URL</i>, meaning that image needs to already exist on the internet, or by
                                        <i>uploading an image</i> from your device.
                                    </p>

                                    The image URL method is the more reliable one.<br><br>

                                    <p>
                                        If you use a URL, there should be no issues when you decide to save your
                                        conversation via the save feature.<br>
                                        However, if you upload an image from your device, even if you save the the
                                        conversation, <i>the image will disappear once you refresh the page</i>.
                                    </p>

                                    <h5>How to get an image URL:</h5>

                                    <p>Upload the image somewhere on the internet first. You can post it on social media
                                        (eg. Twitter) or use a site like <a href="https://imgbb.com/"
                                            target="_blank">ImgBB</a>.

                                    <p>Once your image has been posted online, right click it and select "Copy image
                                        URL".<br>
                                        You can now paste the URL that links to your image into the chat box!</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary btn-sm"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- CHAT SUBMIT -->
                    <button class="btn btn-outline-secondary" type="submit" id="send">Send</button>

                </div>
            </form>

            <div>
                <!-- Upload image -->
                <div class="d-flex flex-column align-items-center mb-3"
                    *ngIf="photoCheck && !actionCheck && !groupChat">
                    <div class="mb-2 text-center">
                        <label for="formFileSm" class="form-label medium-text fst-italic">...or upload an image and
                            press "Send"!</label>
                        <input class="form-control form-control-sm" type="file" id="uploadImage" accept="image/*"
                            (change)="getUploadedImg()">
                    </div>
                    <img id="uploadedPic" width="200px">
                </div>

                <!-- CHARACTER SWITCH -->
                <div class="form-check form-switch d-flex justify-content-center">
                    <input class="form-check-input me-2" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                        (click)="onSwitchChecked()">
                    <label *ngIf="!switchCheck" class="form-check-label" for="flexSwitchCheckDefault">
                        {{ friend.name }}
                    </label>
                    <label *ngIf="switchCheck" class="form-check-label" for="flexSwitchCheckDefault">
                        {{ user.name }}
                    </label>
                </div>

                <div class="mt-3 mb-4">
                    <div class="d-flex justify-content-center">
                        <!-- ACTION CHECKBOX -->
                        <div class="form-check d-flex justify-content-center pe-4">
                            <input class="form-check-input me-2" type="checkbox" value="" id="flexCheckAction"
                                (click)="onActionChecked()" [disabled]="checked && !actionCheck">
                            <label class="form-check-label" for="flexCheckAction">
                                Action
                            </label>
                        </div>

                        <!-- PHOTO CHECKBOX -->
                        <div class="form-check d-flex justify-content-center pe-4">
                            <input class="form-check-input me-2" type="checkbox" value="" id="flexCheckPhoto"
                                (click)="onPhotoChecked()" [disabled]="checked && !photoCheck">
                            <label class="form-check-label" for="flexCheckPhoto">
                                Photo
                            </label>
                        </div>

                        <!-- QUEST CHECKBOX -->
                        <div class="form-check d-flex justify-content-center">
                            <input class="form-check-input me-2" type="checkbox" value="" id="flexCheckQuest"
                                (click)="onQuestChecked()" [disabled]="checked && !questCheck">
                            <label class="form-check-label" for="flexCheckQuest">
                                Quest
                            </label>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center">
                        <!-- DIALOGUE OPTIONS CHECKBOX -->
                        <div class="form-check d-flex justify-content-center">
                            <input class="form-check-input me-2" type="checkbox" value="" id="flexCheckDialogue"
                                (click)="onDialogueChecked()" [disabled]="checked && !dialogueCheck">
                            <label class="form-check-label" for="flexCheckDialogue">
                                Dialogue options
                            </label>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div id="buttons-box" class="d-flex justify-content-center">
                        <!-- SETTINGS -->
                        <div class="form-check d-flex justify-content-center">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
                                data-bs-target="#settingsModal" (click)="getSaves()">
                                <i class="bi bi-gear-fill text-reset"></i>
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="settingsModal" data-bs-keyboard="false" tabindex="-1"
                                aria-labelledby="settingsLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header me-0">
                                            Custom settings
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">

                                            <!-- SETTINGS LIST -->
                                            <form [formGroup]="settingTxtSize" (ngSubmit)="saveSettingTxtSize()">
                                                <div class="input-group input-group-sm mb-3 setting">
                                                    <span class="input-group-text">Chat text size:</span>
                                                    <input type="text" class="form-control" aria-label="amount"
                                                        formControlName="sizeNumber" value="{{currentTxtSize}}">
                                                    <select class="form-select" id="txtSizeUnit"
                                                        formControlName="sizeUnit">
                                                        <option value="px" selected>px</option>
                                                        <option value="rem">rem</option>
                                                        <option value="em">em</option>
                                                    </select>
                                                    <button class="btn btn-outline-secondary"
                                                        type="submit">Save</button>
                                                    <div class="pt-1 dlt">
                                                        <i class="bi bi-x-circle ms-2 text-danger delete-setting"></i>
                                                        <i class="bi bi-x-circle-fill ms-2 text-danger delete-setting-hover"
                                                            (click)="resetSetting('txtSize')"></i>
                                                    </div>
                                                </div>
                                            </form>

                                            <form [formGroup]="settingImgSize" (ngSubmit)="saveSettingImgSize()">
                                                <div class="input-group input-group-sm mb-3 setting">
                                                    <span class="input-group-text">Photo size:</span>
                                                    <input type="text" class="form-control" aria-label="amount"
                                                        formControlName="sizeNumber" value="{{currentImgSize}}">
                                                    <select class="form-select" id="imgSizeUnit"
                                                        formControlName="sizeUnit">
                                                        <option selected value="px">px</option>
                                                        <option value="rem">rem</option>
                                                        <option value="em">em</option>
                                                    </select>
                                                    <!-- Save -->
                                                    <button class="btn btn-outline-secondary"
                                                        type="submit">Save</button>
                                                    <div class="pt-1 dlt">
                                                        <i class="bi bi-x-circle ms-2 text-danger delete-setting"></i>
                                                        <i class="bi bi-x-circle-fill ms-2 text-danger delete-setting-hover"
                                                            (click)="resetSetting('imgSize')"></i>
                                                    </div>
                                                </div>
                                            </form>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary btn-sm"
                                                data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- SAVE CHAT -->
                        <div class="form-check d-flex justify-content-center ps-2">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
                                data-bs-target="#savesModal" (click)="getSaves()">
                                <!-- Save chat -->
                                <i class="bi bi-floppy2-fill text-reset"></i>
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="savesModal" data-bs-keyboard="false" tabindex="-1"
                                aria-labelledby="savesLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header me-0">
                                            <button class="btn btn-outline-secondary btn-sm" (click)="addSave()">Save
                                                current chat</button>

                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- SAVES LIST -->
                                            <ul class="list-group list-group-horizontal mb-1"
                                                *ngFor="let save of allSaves; let i = index">
                                                <li class="list-group-item list-group-item-action save"
                                                    (click)="selectSave(save)">
                                                    <span class="text-grey">{{ save[0].sentBy.name }}</span>: {{
                                                    save[0].text }}
                                                </li>
                                                <li class="list-group-item list-group-item-action delete-save p-1"
                                                    (click)="deleteSave(i)">
                                                    <img src="assets/img/symbols/webview_nav_close_default.png"
                                                        class="ms-1" width="14px" height="14px">
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary btn-sm"
                                                data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- SAVE IMAGE -->
                        <div class="form-check d-flex justify-content-center ps-2">
                            <button type="button" class="btn btn-outline-secondary" (click)="saveImage()">
                                <i class="bi bi-download text-reset"></i>
                            </button>
                        </div>

                        <!-- STICKERS -->
                        <div class="form-check d-flex justify-content-center ps-2">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
                                data-bs-target="#stickersModal" (click)="getStickers()">
                                <img src="/assets/img/stickers/sticker_224.png" width="30px" height="30px">
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="stickersModal" data-bs-keyboard="false" tabindex="-1"
                                aria-labelledby="stickersLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="stickersLabel">
                                                Post a sticker as
                                                <img *ngIf="!switchCheck && !actionCheck" src="{{ friend.icon }}"
                                                    width="30px" height="30px"><span
                                                    *ngIf="!switchCheck && !actionCheck">
                                                    {{ friend.name
                                                    }}</span>
                                                <img *ngIf="switchCheck && !actionCheck" src="{{ user.icon }}"
                                                    width="30px" height="30px"><span
                                                    *ngIf="switchCheck && !actionCheck"> {{ user.name
                                                    }}</span>
                                            </h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- STICKERS LIST -->
                                            <img class="sticker-listed" *ngFor="let sticker of stickers"
                                                src="{{ sticker }}" (click)="selectSticker(sticker)"
                                                data-bs-dismiss="modal">
                                        </div>
                                        <div class="modal-footer justify-content-between">
                                            <p>{{ stickersNumber }} stickers</p>
                                            <button type="button" class="btn btn-secondary btn-sm"
                                                data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="d-flex justify-content-center mt-2">

                        <a href="https://x.com/hsrchatsite" target="_blank"
                            class="twitter btn btn-outline-secondary rounded-circle btn-sm ms-2">
                            <i class="bi bi-twitter text-reset"></i>
                        </a>

                        <!-- CHANGELOG -->
                        <!-- Button trigger modal -->
                        <button type="button"
                            class="btn btn-outline-secondary btn-sm rounded-2 ms-2"
                            data-bs-toggle="modal"
                            data-bs-target="#changelogModal"
                            style="font-size: 18px;"
                            (click)="isNewUpdate()">
                            <img src="https://graphic.neocities.org/blinknew1.gif" *ngIf="newChangelog">
                            Changelog
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="changelogModal" data-bs-keyboard="false" tabindex="-1"
                            aria-labelledby="changelogLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <div class="modal-header me-0">
                                        Changelog
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>

                                    <div id="changelog" class="modal-body">
                                        <!-- CHANGELOG MODAL CONTENT -->
                                        <hr class="mb-3">

                                        <div id="changelog-scroll" class="pt-0">

                                            <p class="text-grey text-center">07/06/2025</p>
                                            <ul>
                                                <li>
                                                    Added a Save Image <i class="bi bi-download text-reset"></i> button! You can use it to save an image of the entire conversation.
                                                </li>
                                            </ul>

                                            <p class="text-grey text-center">02/04/2025</p>
                                            <ul>
                                                <li>
                                                    Added <i>new characters</i>: Archer, Saber, Screwllum.
                                                </li>
                                                <li>
                                                    Updated the <i>icons</i> of Hyacine, Phainon, Cipher.
                                                </li>
                                                <li>
                                                    Updated some characters' subtitle.
                                                </li>
                                                <li>
                                                    Added more stickers! The list should now be up to date with the
                                                    latest set, Pom-Pom Gallery No. 22.
                                                </li>
                                            </ul>

                                            <p class="text-grey text-center">02/04/2025</p>
                                            <ul>
                                                <li>
                                                    Added <i>new characters</i>: Anaxa, Hyacine, Phainon, Cipher.
                                                </li>
                                                <li>
                                                    Added more <i>stickers</i>! The list should now be up to date with
                                                    the latest set, Pom-Pom Gallery No. 21.
                                                </li>
                                                <li>
                                                    Added Sunday's subtitle!
                                                </li>
                                            </ul>

                                            <p class="text-grey text-center">23/02/2025</p>
                                            <ul>
                                                <li>
                                                    Characters can now send each other <i>photos that are saved on your
                                                        device!</i><br>
                                                    However, be aware that such photos cannot be saved and will
                                                    disappear once you refresh the page, even if you try to save the
                                                    conversation. If you want your saved conversations to not have
                                                    broken photos, please continue to use image URLs instead.<br>
                                                    <s>This is the compromise to be able to have this feature at the
                                                        moment. Hopefully at some point I'll learn how to save those
                                                        images locally too.</s>
                                                </li>
                                                <li>
                                                    Updated the Photo help icon <i class="bi bi-question-circle"></i>
                                                    explanation accordingly.
                                                </li>
                                                <li>
                                                    Fixed an issue with the custom settings not working correctly.
                                                    Custom text size and image size should work again now!
                                                </li>
                                            </ul>

                                            <p class="text-grey text-center">20/02/2025</p>
                                            <ul>
                                                <li>
                                                    Added a little help icon <i class="bi bi-question-circle"></i> you
                                                    can click on when Photo is selected to see an explanation on how to
                                                    get an image URL.
                                                </li>
                                            </ul>

                                            <p class="text-grey text-center">16/01/2025</p>
                                            <ul>
                                                <li>
                                                    Added <i>new characters</i>: Aglaea, Mydei, Castorice, Tribbie.
                                                </li>
                                                <li>
                                                    Added more <i>stickers</i>! The list should now be up to date with
                                                    the latest set, Pom-Pom Gallery No. 19.
                                                </li>
                                                <li>
                                                    I believe from now on I'll update the changelog every time I add new
                                                    characters! For some reason I wasn't doing it before, probably
                                                    because I didn't see it as a "major" update, but I think it makes
                                                    more sense to make it clear in the changelog instead.
                                                </li>
                                            </ul>

                                            <p class="text-grey text-center">04/09/2024</p>
                                            <ul>
                                                <li>
                                                    Added a way to switch between versions of characters like Stelle,
                                                    Caelus, Dan Heng and March. For this reason, I removed "Dan Heng •
                                                    Imbibitor Lunae" from the character list; he's now instead an
                                                    alternate version of Dan Heng.
                                                </li>
                                            </ul>

                                            <p class="text-grey text-center">09/08/2024</p>
                                            <ul>
                                                <li>
                                                    Added an <i>Edit</i> feature! You can finally edit messages without
                                                    having to delete them.
                                                </li>
                                                <li>
                                                    Added some custom <i>Settings</i> that you can use to customize
                                                    things like text size and photo size. This should be helpful to
                                                    people whose device doesn't show the site as intended!<br>
                                                    If you would like me to add more settings, feel free to send me
                                                    suggestions via <a href="https://x.com/hsrchatsite"
                                                        target="_blank">Twitter</a>.
                                                </li>
                                            </ul>

                                            <p class="text-grey text-center">27/06/2024</p>
                                            <ul>
                                                <li>
                                                    Added a <i>Saves</i> feature! You can now save your chats locally on
                                                    your browser.
                                                </li>
                                                <li>
                                                    You can now delete actions!
                                                </li>
                                            </ul>

                                            <p class="text-grey text-center">16/06/2024</p>
                                            <ul>
                                                <li>
                                                    Added a <i>Dialogue options</i> feature! You can now add fake
                                                    dialogue options like the ones in the game.<br>
                                                    <i>Please make each option fit in one line.</i> Longer options are
                                                    currently not supported.
                                                </li>
                                                <li>
                                                    You can now delete actions!
                                                </li>
                                            </ul>

                                            <p class="text-grey text-center">13/06/2024</p>
                                            <ul>
                                                <li>
                                                    Added a <i>Quests</i> feature! You can now add a fake quest at the
                                                    end
                                                    of the chat.<br>
                                                    You can choose whether the quest is an <i>Adventure Mission</i>
                                                    (blue)
                                                    or a <i>Companion Mission</i> (purple). You can also choose whether
                                                    the
                                                    quest has just been <i>accepted</i> or <i>completed</i>.
                                                </li>
                                            </ul>

                                            <p class="text-grey text-center">12/06/2024</p>
                                            <ul>
                                                <li>
                                                    <span class="fs-5">URL change!</span><br>
                                                    I'm migrating the site to Cloudflare Pages instead of Vercel, which
                                                    (hopefully) should be much cheaper.<br>
                                                    <i>Please don't use the old Vercel url anymore!</i> Bookmark the new
                                                    one
                                                    instead, which is:<br>
                                                    <code class="fs-5">hsrchat.pages.dev</code>
                                                </li>
                                                <li>Added a scrollbar to the character list and to the changelog.</li>
                                                <li>Added a <img src="https://graphic.neocities.org/blinknew1.gif"> icon
                                                    to
                                                    the Changelog button that lets you know when there's something new
                                                    to
                                                    read.</li>
                                            </ul>

                                            <p class="text-grey text-center">11/06/2024</p>
                                            <ul>
                                                <li>
                                                    We were able to reach the donation goal for June in just one night!
                                                    That was incredible! I'm so grateful to everyone who donated! I'm
                                                    now looking into hosting alternatives that won't cost as much, but
                                                    at least I can rest easy for this month.
                                                </li>
                                            </ul>

                                            <p class="text-grey text-center">28/05/2024</p>
                                            <ul>
                                                <li><i>You can now create custom characters!</i><br>They will be saved
                                                    locally,
                                                    meaning they'll still be on the list after you refresh the page.
                                                </li>
                                                <li><i>You can now delete messages!</i><br>No need to start over every
                                                    time
                                                    you
                                                    make a small typo anymore.</li>
                                            </ul>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary btn-sm"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
