#photo-help {
    position: absolute;
    top: 10px;
    right: 100px;
    color: #121212;

    &:hover {
        color: #6C757D;
    }
}

.help-modal {

    & p,
    li {
        font-size: 0.8rem;
    }
}

.btn:not(.btn-sm) {
    line-height: 20px;
}

.twitter {
    color: #1D9BF0;
    text-decoration: none;

    width: 1.6rem;
    height: 1.6rem;
    padding: 0.17rem 0.35rem;

    &:hover {
        color: #FCBF47;
    }
}
