<!-- if Friend -->
<div *ngIf="!msg.isUser && !msg.isAction" class="position-relative msg px-4">
    <app-chatbox-friend [msg]="msg" [msgId]="msgId" (sendIdBack)="receiveIdBack($event)"></app-chatbox-friend>
</div>

<!-- if User -->
<div *ngIf="msg.isUser && !msg.isAction" class="position-relative msg px-4">
    <app-chatbox-user [msg]="msg" [msgId]="msgId" (sendIdBack)="receiveIdBack($event)"></app-chatbox-user>
</div>

<!-- if Action -->
<div *ngIf="msg.isAction" class="position-relative">
    <app-action [msg]="msg"></app-action>
</div>
