/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: DinText;
    src: url(assets/fonts/zh-cn.ttf) format("opentype");
}

body {
    background-color: #302D32;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'DinText', sans-serif;
    color: #121212;
}

html {
    font-weight: normal;
    font-size: 23px;

    .icon {
        width: 90px;
        height: 90px;

        .icon-img {
            width: 90px;
            height: 90px;
        }
    }
}

hr {
    color: #666868;
    border-top-width: 2px;
    margin: 0;
}



/// CLASSES

.bg-chat {
    background-color: #D3D9DD;
}

.bg-icon {
    background-color: #3C373D;
}

.chatbox-friend {
    background-color: #EDEDED;
    border-radius: 2px 20px 20px 20px;
    box-shadow: -1px 2px #9EA0A1;
}

.chatbox-user {
    background-color: #DDCAA5;
    border-radius: 20px 2px 20px 20px;
    box-shadow: 1px 2px #9EA0A1;
}

.text-grey {
    color: #666868;
}

.hard-grey {
    background-color: #666868;
}

.soft-grey {
    background-color: #9EA0A1;
}

.username {
    // font-size: 21px;
    font-size: 0.91rem;
    font-weight: normal;
}

.action-text {
    // font-size: 18px;
    font-size: 0.78rem;
    color: #858586;
}

.symbol {
    width: 30px;
    height: 30px;
}

.photo {
    width: 218px;
}

.sticker {
    width: 150px;
}
.sticker-listed {
    width: 75px;
    height: 75px;
}

.delete {
    left: 5px;
    top: 27px;
    display: none;
}

.msg:hover .delete {
    display: block !important;
}

.delete-cc {
    right: 20px;
    top: 5px;
    display: none;
}

.cc:hover .delete-cc {
    display: block !important;
}




/// INPUT GROUP COLORS
.input-group>.form-control {
    &:focus {
        box-shadow: 0 0 0 .25rem transparent;
        border-color: #DDCAA5;
    }

    &::placeholder {
        font-style: italic;
        color: #9EA0A1;
    }
}

.form-check-input:checked {
    background-color: #DDCAA5;
    border-color: #c6b696;

    &:focus {
        box-shadow: 0 0 0 .25rem #fff7d878;
        border-color: #c6b696;
    }
}

.form-check-input:focus {
    border-color: #c6b696;
    outline: 0;
    box-shadow: 0 0 0 .25rem #fff7d878;
}

.form-switch .form-check-input:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23c6b696'/%3e%3c/svg%3e");
}

.form-switch .form-check-input:checked {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}




/// IDs

#chat {
    max-width: 720px;
    border-radius: 0px 40px 0px 0px;

    &::after {
        content: " ";
        position: absolute;
        transform: translate3d(-10px, 10px, 0);
        height: -webkit-fill-available;
        width: -webkit-fill-available;
        border: 2px solid rgba(255, 255, 255, 0.135);
        box-sizing: border-box;
        top: 0;
        border-radius: 0px 40px 0px 0px;
        z-index: -1;
    }
}

#chat-interior {
    border-radius: 0px 40px 0px 0px;
}

#chat-content-1, #chat-content-2 {
    transform: scale(1);
}

#chat-title {
    // font-size: 28px;
    font-size: 1.22rem;
}

#subtitle {
    // font-size: 20px;
    font-size: 0.87rem;
    color: #666868
}

#textbox {
    background-color: #CBCFD0;
}

#customChar>button {
    margin-right: .5rem;

    &:last-of-type {
        margin-right: 0;
    }
}

#changelog {
    // font-size: 18px;
    font-size: 0.8rem;
}



/// IMAGES

// .icon {
//     width: 90px;
//     height: 90px;
// }



// MEDIA QUERIES

@media screen and (max-width: 719px) {
    .bg-chat {
        zoom: 0.95;
    }
}

@media screen and (max-width: 620px) {
    .bg-chat {
        zoom: 0.85;
    }
}

@media screen and (max-width: 590px) {
    .bg-chat {
        zoom: 0.8;
    }

    .sticker-listed {
        width: 100px;
        height: 100px;
    }
}
@media screen and (max-width: 535px) {
    .bg-chat {
        zoom: 0.75;
    }
}

@media screen and (max-width: 505px) {
    .bg-chat {
        zoom: 0.7;
    }
}
@media screen and (max-width: 476px) {
    .bg-chat {
        zoom: 0.65;
    }
}
@media screen and (max-width: 420px) {
    .bg-chat {
        zoom: 0.6;
    }

    .sticker-listed {
        width: 120px;
        height: 120px;
    }
}
@media screen and (max-width: 400px) {
    .bg-chat {
        zoom: 0.5;
    }
}

@media screen and (min-width: 320px) and (max-width: 357px) {
    .bg-chat {
        zoom: 0.45;
    }
}
